@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue Black';
    src: url('fonts/HelveticaNeueBlack.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Helvetica Neue Heavy';
    src: url('fonts/HelveticaNeueHeavy.otf') format('opentype');
    font-weight: 800;
}
