@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins_ExtraBold';
    src: url('fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins_SemiBold';
    src: url('fonts/Poppins-SemiBold.ttf');
}
